In [3]:
# !pip install category-encoders -> comentei para facilitar meu notebook no VS Code

In [4]:
import numpy as np
import pandas as pd
from category_encoders import OneHotEncoder

In [5]:
# 1. para carregar o dataset

link = 'C:/Users/CarlosViniMSouza/Documents/Projects/data-mining-ifam/database/Financial-Data.csv'

dfMerge = pd.read_csv(link)
dfMerge

,Entry_id,age,pay_schedule,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,...,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
0,7629673,40,bi-weekly,1,3135,0,3,3,6,2,...,550,36200,0.737398,0.903517,0.487712,0.515977,0.580918,0.380918,10,1
1,3560428,61,weekly,0,3180,0,6,3,2,7,...,600,30150,0.738510,0.881027,0.713423,0.826402,0.730720,0.630720,9,0
2,6934997,23,weekly,0,1540,6,0,0,7,1,...,450,34550,0.642993,0.766554,0.595018,0.762284,0.531712,0.531712,7,0
3,5682812,40,bi-weekly,0,5230,0,6,1,2,7,...,700,42150,0.665224,0.960832,0.767828,0.778831,0.792552,0.592552,8,1
4,5335819,33,semi-monthly,0,3590,0,5,2,2,8,...,1100,53850,0.617361,0.857560,0.613487,0.665523,0.744634,0.744634,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,9949728,31,monthly,0,3245,0,5,3,2,6,...,700,71700,0.691126,0.928196,0.664112,0.838012,0.727705,0.627705,2,0
17904,9442442,46,bi-weekly,0,6525,0,2,1,3,3,...,800,51800,0.648525,0.970832,0.699241,0.844724,0.774918,0.474918,3,0
17905,9857590,46,weekly,0,2685,0,5,1,1,8,...,1200,59650,0.677975,0.918141,0.687981,0.939101,0.472045,0.672045,9,0
17906,8708471,42,bi-weekly,0,2515,0,3,5,6,1,...,400,80200,0.642741,0.885684,0.456448,0.686823,0.406568,0.406568,3,1
17907,1498559,29,weekly,1,2665,0,4,10,4,1,...,600,64950,0.720889,0.874372,0.505565,0.631619,0.846163,0.846163,4,1

In [6]:
# 2. Vamos eliminar as colunas com valores muito próximos de 0:
#     ° E para isso, aplicaremos o método de 'Valor Absoluto'
#     ° E a ordenação do dataset usando o 'e-signed' como ref.

# abs(dfMerge.corr()[['e_signed']].sort_values(['e_signed'])['e_signed']) < 0.01

dfMergeModule = abs(dfMerge.corr()[['e_signed']])

dfMergeModuleSorted = dfMergeModule.sort_values(['e_signed'])['e_signed']
dfMergeModuleSorted < 0.01

C:\Users\CarlosViniMSouza\AppData\Local\Temp\ipykernel_15284\721968793.py:7: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dfMergeModule = abs(dfMerge.corr()[['e_signed']])

Entry_id                 True
years_employed           True
risk_score_4             True
risk_score_5             True
months_employed         False
risk_score_2            False
current_address_year    False
personal_account_y      False
ext_quality_score_2     False
inquiries_last_month    False
income                  False
ext_quality_score       False
risk_score_3            False
has_debt                False
home_owner              False
amount_requested        False
personal_account_m      False
risk_score              False
age                     False
e_signed                False
Name: e_signed, dtype: bool

In [7]:
# 3. Todas as colunas que retornaram 'True' na cédula acima serão dropadas

dfMerge = dfMerge.drop([
    'risk_score_5', 'Entry_id', 
    'years_employed', 'risk_score_4'
], axis=1)

dfMerge

,age,pay_schedule,home_owner,income,months_employed,current_address_year,personal_account_m,personal_account_y,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
0,40,bi-weekly,1,3135,0,3,6,2,1,550,36200,0.737398,0.903517,0.580918,0.380918,10,1
1,61,weekly,0,3180,0,3,2,7,1,600,30150,0.738510,0.881027,0.730720,0.630720,9,0
2,23,weekly,0,1540,6,0,7,1,1,450,34550,0.642993,0.766554,0.531712,0.531712,7,0
3,40,bi-weekly,0,5230,0,1,2,7,1,700,42150,0.665224,0.960832,0.792552,0.592552,8,1
4,33,semi-monthly,0,3590,0,2,2,8,1,1100,53850,0.617361,0.857560,0.744634,0.744634,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,31,monthly,0,3245,0,3,2,6,1,700,71700,0.691126,0.928196,0.727705,0.627705,2,0
17904,46,bi-weekly,0,6525,0,1,3,3,1,800,51800,0.648525,0.970832,0.774918,0.474918,3,0
17905,46,weekly,0,2685,0,1,1,8,1,1200,59650,0.677975,0.918141,0.472045,0.672045,9,0
17906,42,bi-weekly,0,2515,0,5,6,1,1,400,80200,0.642741,0.885684,0.406568,0.406568,3,1
17907,29,weekly,1,2665,0,10,4,1,1,600,64950,0.720889,0.874372,0.846163,0.846163,4,1

In [8]:
"""
OBS.:
    1. A codificação OneHot(fictícia) para recursos categóricos produz um recurso por categoria, cada binário.
       (fonte: https://contrib.scikit-learn.org/category_encoders/onehot.html)
    
    2. A coluna 'pay_schedule' possui 4 valores distintos:
       ° 'bi-weekly' | 'weekly' | 'semi-monthly' | 'monthly'
       
    3. Com isso, teremos 4 colunas binárias de 'pay_schedule'
"""

# 4. Vamos desenvolver mais a coluna 'pay_schedule'

one = OneHotEncoder(cols=['pay_schedule']).fit_transform(dfMerge['pay_schedule'])

dfMerge = pd.concat([one, dfMerge.drop(['pay_schedule'], axis=1)], axis=1)
dfMerge

,pay_schedule_1,pay_schedule_2,pay_schedule_3,pay_schedule_4,age,home_owner,income,months_employed,current_address_year,personal_account_m,personal_account_y,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
0,1,0,0,0,40,1,3135,0,3,6,2,1,550,36200,0.737398,0.903517,0.580918,0.380918,10,1
1,0,1,0,0,61,0,3180,0,3,2,7,1,600,30150,0.738510,0.881027,0.730720,0.630720,9,0
2,0,1,0,0,23,0,1540,6,0,7,1,1,450,34550,0.642993,0.766554,0.531712,0.531712,7,0
3,1,0,0,0,40,0,5230,0,1,2,7,1,700,42150,0.665224,0.960832,0.792552,0.592552,8,1
4,0,0,1,0,33,0,3590,0,2,2,8,1,1100,53850,0.617361,0.857560,0.744634,0.744634,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,0,0,0,1,31,0,3245,0,3,2,6,1,700,71700,0.691126,0.928196,0.727705,0.627705,2,0
17904,1,0,0,0,46,0,6525,0,1,3,3,1,800,51800,0.648525,0.970832,0.774918,0.474918,3,0
17905,0,1,0,0,46,0,2685,0,1,1,8,1,1200,59650,0.677975,0.918141,0.472045,0.672045,9,0
17906,1,0,0,0,42,0,2515,0,5,6,1,1,400,80200,0.642741,0.885684,0.406568,0.406568,3,1
17907,0,1,0,0,29,1,2665,0,10,4,1,1,600,64950,0.720889,0.874372,0.846163,0.846163,4,1

In [9]:
# 5. Agora, vamos fazer algumas mudanças em nas colunas de 'personal_account'

# 5.1. Equacionando: P.A. (anual) = (P.A. (ano) * 12) + P.A. (mes)
dfMerge["personal_accounts_month"] = dfMerge["personal_account_y"] * 12 + dfMerge["personal_account_m"]

# 5.2. Feitos as mudanças, podemos remover 'personal_account_y/m'
dfMerge = dfMerge.drop(["personal_account_y", "personal_account_m"], axis=1)

dfMerge

,pay_schedule_1,pay_schedule_2,pay_schedule_3,pay_schedule_4,age,home_owner,income,months_employed,current_address_year,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed,personal_accounts_month
0,1,0,0,0,40,1,3135,0,3,1,550,36200,0.737398,0.903517,0.580918,0.380918,10,1,30
1,0,1,0,0,61,0,3180,0,3,1,600,30150,0.738510,0.881027,0.730720,0.630720,9,0,86
2,0,1,0,0,23,0,1540,6,0,1,450,34550,0.642993,0.766554,0.531712,0.531712,7,0,19
3,1,0,0,0,40,0,5230,0,1,1,700,42150,0.665224,0.960832,0.792552,0.592552,8,1,86
4,0,0,1,0,33,0,3590,0,2,1,1100,53850,0.617361,0.857560,0.744634,0.744634,12,0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,0,0,0,1,31,0,3245,0,3,1,700,71700,0.691126,0.928196,0.727705,0.627705,2,0,74
17904,1,0,0,0,46,0,6525,0,1,1,800,51800,0.648525,0.970832,0.774918,0.474918,3,0,39
17905,0,1,0,0,46,0,2685,0,1,1,1200,59650,0.677975,0.918141,0.472045,0.672045,9,0,97
17906,1,0,0,0,42,0,2515,0,5,1,400,80200,0.642741,0.885684,0.406568,0.406568,3,1,18
17907,0,1,0,0,29,1,2665,0,10,1,600,64950,0.720889,0.874372,0.846163,0.846163,4,1,16

In [10]:
# 6. Outra operação que preciso entender ...Sei que envolve logaritmo!

dfMerge['risk_score'] = round(np.log2(dfMerge['risk_score']), 4)
dfMerge

,pay_schedule_1,pay_schedule_2,pay_schedule_3,pay_schedule_4,age,home_owner,income,months_employed,current_address_year,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed,personal_accounts_month
0,1,0,0,0,40,1,3135,0,3,1,550,15.1437,0.737398,0.903517,0.580918,0.380918,10,1,30
1,0,1,0,0,61,0,3180,0,3,1,600,14.8799,0.738510,0.881027,0.730720,0.630720,9,0,86
2,0,1,0,0,23,0,1540,6,0,1,450,15.0764,0.642993,0.766554,0.531712,0.531712,7,0,19
3,1,0,0,0,40,0,5230,0,1,1,700,15.3632,0.665224,0.960832,0.792552,0.592552,8,1,86
4,0,0,1,0,33,0,3590,0,2,1,1100,15.7167,0.617361,0.857560,0.744634,0.744634,12,0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,0,0,0,1,31,0,3245,0,3,1,700,16.1297,0.691126,0.928196,0.727705,0.627705,2,0,74
17904,1,0,0,0,46,0,6525,0,1,1,800,15.6607,0.648525,0.970832,0.774918,0.474918,3,0,39
17905,0,1,0,0,46,0,2685,0,1,1,1200,15.8642,0.677975,0.918141,0.472045,0.672045,9,0,97
17906,1,0,0,0,42,0,2515,0,5,1,400,16.2913,0.642741,0.885684,0.406568,0.406568,3,1,18
17907,0,1,0,0,29,1,2665,0,10,1,600,15.9870,0.720889,0.874372,0.846163,0.846163,4,1,16

In [11]:
# 7. Calculando a '%' de 'renda' & 'qtd. solicitada'

dfMerge['income'] = dfMerge['income'] / 100
dfMerge['amount_requested'] = dfMerge['amount_requested'] / 10

In [12]:
# 8. Removendo outras 2 colunas não relevantes

dfMerge = dfMerge.drop(['months_employed', 'age'], axis=1)
dfMerge

,pay_schedule_1,pay_schedule_2,pay_schedule_3,pay_schedule_4,home_owner,income,current_address_year,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed,personal_accounts_month
0,1,0,0,0,1,31.35,3,1,55.0,15.1437,0.737398,0.903517,0.580918,0.380918,10,1,30
1,0,1,0,0,0,31.80,3,1,60.0,14.8799,0.738510,0.881027,0.730720,0.630720,9,0,86
2,0,1,0,0,0,15.40,0,1,45.0,15.0764,0.642993,0.766554,0.531712,0.531712,7,0,19
3,1,0,0,0,0,52.30,1,1,70.0,15.3632,0.665224,0.960832,0.792552,0.592552,8,1,86
4,0,0,1,0,0,35.90,2,1,110.0,15.7167,0.617361,0.857560,0.744634,0.744634,12,0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,0,0,0,1,0,32.45,3,1,70.0,16.1297,0.691126,0.928196,0.727705,0.627705,2,0,74
17904,1,0,0,0,0,65.25,1,1,80.0,15.6607,0.648525,0.970832,0.774918,0.474918,3,0,39
17905,0,1,0,0,0,26.85,1,1,120.0,15.8642,0.677975,0.918141,0.472045,0.672045,9,0,97
17906,1,0,0,0,0,25.15,5,1,40.0,16.2913,0.642741,0.885684,0.406568,0.406568,3,1,18
17907,0,1,0,0,1,26.65,10,1,60.0,15.9870,0.720889,0.874372,0.846163,0.846163,4,1,16

In [13]:
# 9. Outra operação para entender ...

dfMerge['risk_score_2'] = dfMerge['risk_score_2'] * 10
dfMerge['risk_score_3'] = dfMerge['risk_score_3'] * 10

dfMerge['ext_quality_score'] = dfMerge['ext_quality_score'] * 10
dfMerge['ext_quality_score_2'] = dfMerge['ext_quality_score_2'] * 10

dfMerge

,pay_schedule_1,pay_schedule_2,pay_schedule_3,pay_schedule_4,home_owner,income,current_address_year,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed,personal_accounts_month
0,1,0,0,0,1,31.35,3,1,55.0,15.1437,7.373983,9.035172,5.80918,3.80918,10,1,30
1,0,1,0,0,0,31.80,3,1,60.0,14.8799,7.385101,8.810267,7.30720,6.30720,9,0,86
2,0,1,0,0,0,15.40,0,1,45.0,15.0764,6.429933,7.665537,5.31712,5.31712,7,0,19
3,1,0,0,0,0,52.30,1,1,70.0,15.3632,6.652235,9.608323,7.92552,5.92552,8,1,86
4,0,0,1,0,0,35.90,2,1,110.0,15.7167,6.173613,8.575597,7.44634,7.44634,12,0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17903,0,0,0,1,0,32.45,3,1,70.0,16.1297,6.911261,9.281963,7.27705,6.27705,2,0,74
17904,1,0,0,0,0,65.25,1,1,80.0,15.6607,6.485252,9.708318,7.74918,4.74918,3,0,39
17905,0,1,0,0,0,26.85,1,1,120.0,15.8642,6.779748,9.181406,4.72045,6.72045,9,0,97
17906,1,0,0,0,0,25.15,5,1,40.0,16.2913,6.427412,8.856841,4.06568,4.06568,3,1,18
17907,0,1,0,0,1,26.65,10,1,60.0,15.9870,7.208891,8.743715,8.46163,8.46163,4,1,16